@use  '../../scss/' as *; 
.navbar {
  height: 50px;
  background-color:$color-primary;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: $max-width-container;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  color: $color-white;
  text-decoration: none;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color:$color-primary;
}
