.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.formContainer {
  width: 35%;
  margin: 2em auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 40px;
  border-radius: 10px;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px auto;
  width: 100%;
}
.formControl label span {
  font-size: 12px;
  opacity: 0.8;
}
.formControl input {
  border: none;
  padding: 10px;
  border: 1px grey solid;
  border-radius: 3px;
}
.formControl p {
  color: red;
  font-size: 13px;
  font-style: italic;
}
.formAction {
  display: grid;
  place-items: center;
}
.formAction input {
  font-size: 18px;
  border: none;
  padding: 10px 30px;
  border: 1px #003580 solid;
  border-radius: 3px;
  background-color: #003580;
  color: #fff;
  cursor: pointer;
}
.formAction input[type='submit']:disabled {
  cursor: not-allowed;
}
.formAction:hover input {
  background-color: #0750b7;
}
